<footer class="footer">
  <div class="container">
    <div>
      <img src="{{ site.baseurl }}/assets/images/logo-gsa.png" alt="GSA logo">
    </div>
    <div itemscope itemtype="http://schema.org/ContactPoint">
      <h1>Contact Us</h1>
      <a href="mailto:viperlabs@ogsystems.com" itemprop="email"><i class="icon-email"></i> viperlabs@ogsytems.com</a>
      <br/>
      <a href="https://twitter.com/OGS_ViperLabs"><i class="icon-twitter"></i> @OGS_ViperLabs </a>
    </div>
    <div>
      <h1>Fork Our Code</h1>
      <a href="https://github.com/stlviper/dashboard"><i class="icon-github2"></i> github.com/stlviper/dashboard</a>
      <br/>
      Originally Forked from
      <br/>
      <a href="https://18f.gsa.gov/dashboard/">18F/dashboard</a>
    </div>
    <!--
    <div>
      <h1>Policies</h1>

      <a href="https://18f.gsa.gov/linking-policy/">
        Linking policy
      </a>
      <br/>
      <a href="https://github.com/18F/open-source-policy">
        Open source policy
      </a>

    </div>
    -->
    <div>
      <a href="https://github.com/18f"><img class="tagline" src="{{ site.baseurl }}/assets/images/always-be-shipping_orange.png" alt="Always Be Shipping."></a>
    </div>
  </div>
</footer>
